/* ====================================================================
   Colours
 ====================================================================== */
// green - primary-green - #58887b, border-color- #749e95, box-shadow - #aeded3, "primary-light": #71b5a345,
// orange 
$theme-colors: (
  "text": (
    "white": #fff,
    "accent": #ff8138,
    "grey-light": #f5f5f5,
    "grey-dark": #909090,
    "body-text": #bcbcbc,
    "body-text-alt": #293845,
    "badge-primary--text": #23824f,
    "badge-secondary--text": #245cd6,
    "success-light--text": #489b4c,
    "danger-light--text": #ff4747,
    "warning-light--text": #f0b400,
    "primary-light--text": #265cd4,
    "secondary-light--text":#191919

  ),
  "bg-color": (
    "primary": #2563eb,
    "primary-light": #2462eb45,
    "primary-dark": #1c1b1b,
    "secondary-dark": #454545,
    "tertiary-dark": #707070,
    "alt": #222121,
    "navbar": #f7f7f9,
    "albumCard-light": #F7F9FA,
    "inputBgColor": #fbfbfb,
    "cardBg": #F7F9FA,
    "badge-primary": #C9E7D7,
    "badge-secondary":#b5d6f3,
    "success": #4caf50,
    "danger": #f0506e,
    "warning": #ff9800,
    "success--light": #e8ffee,
    "danger--light": #ffe5ea,
    "warning--light": #fff8df,
    "primary--light": #ccdcfc,
    "secondary--light": #dbdbdb
  ),
  "nprogress": (
    "progressBar": #4fa7a2
  )
) !default;

/*
 	Example:  
	background-color: theme-colors('background-color', 'light');
 */
@function theme-colors($key: "text", $variant: "grey-light") {
  $map: map-get($theme-colors, $key);
  @return map-get($map, $variant);
}

/* 
	Creates tint or shade of color specified in $theme-colors
	Tint or shade is controlled by number passed in between 0-10 e.g. 2.5 =  25%.
	Example:
	background-color: tint-shade-color-control(white, 'primary', 'dark', 2.5);
 */
@function tint-shade-color-control($color-base: white, $color-name: "text", $key: "grey-light", $level: 0) {
  $color-interval: 10%;
  @if ($color-base == white) {
    $color: theme-colors($color-name, $key);
    @return mix($color-base, $color, $level * $color-interval);
  }
  @if ($color-base == black) {
    $color: theme-colors($color-name, $key);
    @return mix($color-base, $color, $level * $color-interval);
  }
}

/* 
	Controls opacity of color specified in $theme-colors
	Opacity is controlled by number passed in between 0-10 e.g. 2.5 = .25.
	Example:
	background-color: opacity-color-control('primary', 'dark', 7);
 */
@function opacity-color-control($color-name: "bg-color", $key: "primary-dark", $opacity: 0) {
  $opacity-interval: 10;
  $color: theme-colors($color-name, $key);
  @return rgba($color, $opacity / $opacity-interval);
}
